name: Front-end (Next.js) - build & deploy to S3

on:
  push:
    branches: ["main"]
    paths:
      - "front-end/**"
      - ".github/workflows/deploy-web-app.yml"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  FRONTEND_DIR: front-end
  BUILD_DIR: front-end/out
  S3_BUCKET: ${{ vars.S3_BUCKET_FE }}
  CLOUDFRONT_DIST_ID: ${{ vars.CLOUDFRONT_DIST_ID }}
  AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: front-end/package-lock.json

      - name: Install
        working-directory: ${{ env.FRONTEND_DIR }}
        run: npm ci

      - name: Build (static export)
        working-directory: ${{ env.FRONTEND_DIR }}
        env: 
            NEXT_PUBLIC_API_BASE_URL: https://d2ld58h7aivb6c.cloudfront.net
        run: npm run build

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy to S3
        run: |
          aws s3 sync "${BUILD_DIR}" "s3://${S3_BUCKET}" --delete

      - name: Invalidate CloudFront
        if: env.CLOUDFRONT_DIST_ID != ''
        run: |
          aws cloudfront create-invalidation \
            --distribution-id "${CLOUDFRONT_DIST_ID}" \
            --paths "/*"